body {
    margin: 0;
    background-color: #d1cdcd;
}

header {
    width: 100%;
    height: 6%;
    background: #456E82;
    font-size: 24px;
}

header p {
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

#header_buttons {
    margin-top: 5px;
    float: left;
    width: 60%;
}

#nameProject {
    float: left;
    width: 40%;
}

#content {
    margin: 10px;
    /*height: 90%;*/
}
#header button{
    float: right;
}
#content button{
    float: left;
}

#content button {
    clear: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

}
#page-left-side{
    float: left;
    width: 60%;
}
#page-right-side{
    float: left;
    width: 40%;
}
.textarea-container{
    margin: 10px;
    background: #e5e3ff;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    height: 60%;
}

.textarea-info{
    margin: 10px;
    background: #e5e3ff;
    border: 2px solid black;
    padding: 10px;
    height: 60%;
    box-sizing: border-box;
    font-size: 18px;
}
#content h3 {
    text-align: center;
    margin: 0;
}
p{
    text-align: justify;
    text-indent: 5px;
}

#incorrect {

    text-align: left;
    margin: 0;
    font-size: 24px;
    text-indent: 0;
}
em{
    background: #ffd75c;
    font-style: normal;

}
.textarea-info p{
    font-size: 20px;
    margin: 10px;
}

footer {
    clear: both;
    float: bottom;
    text-align: center;
    background: #456E82;;
    font-size: 18px;
    height: 3%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 16px;
}

